@import "../../../styles/settings.scss";

.root {
  display: inline-flex;
  margin-top: 2vh;
  // max-height: 90vh;
}

.clickedPosterName {
  border: none;
  resize: none;
  // background-color: rgb(161, 252, 188);
  width: 11.5vw;
  height: 1.6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  text-align: center;
}

.clickedPosterName:hover {
  background-color: rgb(228, 236, 245);
}

.clickedPosterName:active {
  border: none;
}
