@import "../../../styles/settings.scss";

.root {
  display: inline-flex;
}

.title {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.clickedPosterName {
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.clickedPosterName:hover {
  background-color: rgb(216, 216, 253);
}

.clickedPosterName:active {
  background-color: rgb(161, 161, 252);
  border: none;
}

.posters {
  min-width: 48vw;
  background-color: rgb(54, 54, 134);
}

.parameters {
  margin-left: 2vw;
  min-width: 24vw;
}

.backgroundWall {
  position: absolute;
  z-index: 3;
}

.poster {
  position: absolute;
  z-index: 4;
}