@import "../../../styles/settings.scss";
@import "../../../styles/variables.scss";

.root {
    margin: 2vh 0;
}

.label {
    font-size: medium;
    word-wrap: break-word;
}

.select {
    border-radius: $border-radius;
    width: 7.85vw;
    font-size: medium;
    padding: 0.5vh 0;
}