@import "../../../styles/settings.scss";

.root {
  position: relative;
}

.tableLabel {
  text-align: left;
  padding-top: 12px;
  font-size: medium;
}

table {
  margin: 0 0 0 0;
}

.parameterLabel, .parameterLabelWithPicture {
  text-align: left;
  word-wrap: break-word;
  font-size: medium;
}

.parameterLabelWithPicture {
  display: inline-flex;
}

.openGallery {
  width: 8px;
  height: 8px;
  background-color: $color-light;
  border: 1.5px solid $color-lightblue;
  border-radius: 50px;
  margin-left: 2vw;
}

.closeGallery {
  position: absolute; 
  font-size: large;
  color: $color-white;
  top: -40%; 
  left: -85%; 
  width: 1.5vw;
  height: 2.5vh;
  background-color: $color-darkblue;
  border: 2px solid $color-white;
  cursor: pointer;
}

.gallery {
  position: absolute; 
  top: 50%; 
  left: -220%; 
  transform: translate(-50%, -25%);
  background-color: $color-darkblue;
  border: 1px solid $color-blue;
  box-shadow: 0 0px 10px $color-blue;
  height: 84vh;
  overflow-y: scroll;
}

.picture {
  display: inline-block;
  position: relative;
}

.imageInGallery {
  height:auto;
  display:inline-block;
  width:12vw;
  height: 16vh;
  margin: 1vh 1.8vw;
  vertical-align:middle;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    opacity: 0.5;
  }
}

.pictureName {  
  display:inline-block;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.5);  
  vertical-align:middle;
  position: absolute;
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -150%);
    input {    
      color:$color-white;
      text-align: center;
      font-weight: bold; 
      padding: 6px;
      width: 70%;
      background-color: rgba(255, 255, 255, 0);
      float: left;
      text-align: center;
      font-size: small;
      border: solid 1px $color-gray;
    }
    ::placeholder {
      color:$color-white;
      text-align: center;
      font-weight: bold;
    }
    i {
      padding: 6px 0 0 0;
    }
}

.addPicture {
  width:12vw;
  height: 16vh;
  margin: 1vh 1.8vw;
  background-color: pink;
  display:inline-block;
}

.select {
  width: 30%;
  background-color: $color-light;
  float: right;
  text-align: center;
  font-size: small;
  border: solid 1px $color-gray;
  padding: 0;
}


