@import "../../../styles/settings.scss";

.root {
  position: relative;
}

.tableLabel {
  text-align: left;
  padding-top: 12px;
  font-size: 11px;
}

table {
  margin: 0 0 0 0;
}

.parameterLabel, .parameterLabelWithPicture {
  text-align: left;
  word-wrap: break-word;
  font-size: 10px;
}

.parameterLabelWithPicture {
  display: inline-flex;
}

.openGallery {
  width: 8px;
  height: 8px;
  background-color: rgb(228, 236, 245);
  border: 1.5px solid rgb(175, 208, 245);
  border-radius: 50px;
  margin-left: 28px;
}

.closeGallery {
  position: absolute; 
  top: -23%; 
  left: -75%; 
  margin-left: 20px;  
  width: 10px;
  height: 10px;
  background-color: rgb(63, 148, 245);
  border: 1.5px solid rgb(175, 208, 245);
  border-radius: 50px;
  cursor: pointer;
}

.closeGalleryX {
  font-size: 8px;
  color: rgb(255, 255, 255);
  position: absolute; 
  top: -80%; 
  left: 30%;
}

.gallery {
  position: absolute; 
  top: 50%; 
  left: -220%; 
  transform: translate(-50%, -25%);
  background-color: rgb(228, 236, 245);
  border: 1px solid rgb(113, 172, 240);
  box-shadow: 0 0px 10px rgb(63, 148, 245);
}

.picture {
  display: inline-block;
  position: relative;
}

.imageInGallery {
  height:auto;
  display:inline-block;
  width:12vw;
  height: 16vh;
  margin: 1vh 1.8vw;
  vertical-align:middle;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    opacity: 0.5;
  }
}

.pictureName {
  color:#fff;
  text-align: center;
  display:inline-block;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6px;
  vertical-align:middle;
  position: absolute;
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -150%);
  font-weight: bold;
}

.select {
  width: 36%;
  background-color: rgb(228, 236, 245);
  float: right;
  text-align: center;
  font-size: 8px;
  border: solid 1px rgb(173, 172, 172);
}

input, form {
  width: 28%;
  background-color: rgb(228, 236, 245);
  float: right;
  text-align: center;
  font-size: 8px;
  border: solid 1px rgb(173, 172, 172);
}
