@import "../../../styles/settings.scss";

.markers {
  display: inline-flex;
}

.markerGreen {
  border: solid 1.8px black;
  font-size: 9px;
  display: flex;
  justify-content: center;
  background-color: rgb(78, 231, 78);
  color: black;
  position: relative;
  align-items: center;
  &:hover {
    cursor: grab;
    box-shadow: 1px 1px 24px green;
  }
}
