@import "../../../styles/settings.scss";

.backgroundWall {
  position: absolute;
  z-index: 3;
}

.poster {
  //top: -200px;
  position: absolute;
  z-index: 4;
}

.canva {
  height: 70vh;
  padding-top: 2vh;
  background-color: white;
  border: 1px solid black;
  position: relative;
}

.listAndPoster {
  display: inline-flex;
} 

.list {
  width: 25vw;
}

.parameters {
  position: absolute;
 // left: 50%;
  //transform: translate(-50%, 210%);
}