@import "../../../styles/settings.scss";

.canva {
  // height: 70vh;
  padding-top: 2vh;
  background-color: rgb(173, 219, 98);
  border: 1px solid black;
  display: inline-flex;
}

.buttonAndList {
  width: 12vw;
  background-color: red;
  margin: 0 0 0 1vh;  
}

.backgroundWallAndPoster {
  // position: relative;
}

.scale{
  text-align: end;
  // position: absolute; 
  // top: 50%; 
  // left: 50%; 
  // transform: translate(-50%, 50%)
}

.scale input {
  width: fit-content;
}
