@import "../../../styles/settings.scss";

.root {
  font-family: $font-family;
  background-color: $color-white;
  border: 1px solid black;
  display: inline-flex;
  margin: 0;
}

.backgroundWall {
  position: relative;
  margin: 0 0 0 4vw;
}

.features {
  width: 12vw;
  background-color: $color-white;
  margin: 3.5vw 1vh 2vw 7vh;  
}

.view {
  width: 65vw;
  margin: 2vw 0; 
}

.scale input {
  width: fit-content;
}

.posters {
  width: 15.95vw;
  margin: 2vw 2vh 2vw 0vh;  
  font-size: 12px;
}

.moveable {
  font-size: 8px;
  text-align: left;
}

.trueOrFalse {
  text-transform: uppercase;
}