@import "../../../styles/settings.scss";

.dragAndDrop {
  background-color: rgb(228, 236, 245);
  border: 1.5px dashed #4aa1f3;
  font-size: 8px;
  color: black;
  text-align: center;
  padding: 6px;
}
