@import "../../../styles/settings.scss";

.dragAndDrop {
  background-color: $color-light;
  border: 1.5px dashed #4aa1f3;
  font-size: medium;
  color: black;
  text-align: center;
  padding: 1vh 1vw;
}
