@import '../../../styles/settings.scss';

.root {
    height: 96vh;
    border: 2px solid black;
    background: radial-gradient($color-white, $color-light);
}

.description {
    color: rgb(129, 171, 218);
    text-transform: uppercase;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 6px 0;
}