@import "../../../styles/settings.scss";

.buttonAddPoster {
    min-width: 12vw;
    height: 4vh;
    text-transform: uppercase;
    font-size: 0.8vw;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 ;
    background-color: yellowgreen;
    background-color: rgb(28, 160, 109);
}