@import "../../../styles/settings.scss";

.image {
  position: relative;
  
}

.deleteImage {
  color: white;
  font-size: 8px;
  position: absolute;
  top: 8%;
  left: 95%;
  transform: translate(-50%, -50%);
  display: none;
  text-shadow: 0 0px 6px rgb(0, 0, 0);

  &:hover {
    display: block;
    cursor: pointer;
  }
}

.image:hover ~ .deleteImage {
    display: block;
}
