@import "../../../styles/settings.scss";

.image {
  position: relative;  
}

.imageChosen {
  position: relative;  
  box-shadow: 0 0px 10px $color-white;
}

.deleteImage {
  color: white;
  font-size: 24px;
  top: 8%;
  left: 95%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
  text-shadow: 0 0px 6px $color-black;

  &:hover {
    display: block;
    cursor: pointer;
  }
}

.image:hover ~ .deleteImage {
    display: block;
}

.imageChosen:hover ~ .deleteImage {
  display: block;
}
